.board-tasks {
    display: block;
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 100px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: gray;
    border: 2px solid gray;
}

.add-task {
    display: block;
    position:absolute;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: -80px;
    right: 0;
    border: 1.5px solid gray;
    border-radius: 15px;
}

.selected {
    background-image: url(../img/check.svg);
}

.unvisible {
    display: none;
}