.board-tasks {
    cursor: pointer;
    display: block;
    position: relative;
    width: 1000px;
    min-height: 50px;
    margin: 100px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: gray;
    border: 1px solid gray;
}

.add-task {
    display: block;
    position:absolute;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: -80px;
    right: 0;
    border: 1px solid gray;
    border-radius: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 0;
    list-style: none;
}

.tasks:nth-child(n+2) {
    border-top: 1px solid gray;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    min-height: 50px;
}

p {
    width: 600px;
}

.button {
    display: block;
    border: 1px solid gray;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.edit-task {
    background-image: url(../img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.delete-task {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.selected {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.unvisible {
    display: none;
}