.board-tasks {
    cursor: pointer;
    display: block;
    position: relative;
    width: 1000px;
    min-height: 50px;
    margin: 100px auto;
    font-family:'Arial', sans-serif;
    font-size: 20px;
    color: rgb(62, 57, 57);
    border: 1px solid black;
}

.add-task {
    display: block;
    position:absolute;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: -80px;
    right: 0;
    border: 1px solid black;
    border-radius: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 0;
    list-style: none;
}

.task {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-between;
    min-height: 50px;
}

.task:nth-child(n+2) {
    border-top: 1px solid black;
}

.status-task {
    margin-top: 13px;
}

.task-board {
    font-family:'Arial', sans-serif;
    width: 600px;
}

.button {
    display: block;
    border: 1px solid gray;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.time {
    margin-top: 20px;
}

.edit-task {
    margin-top: 13px;
    background-image: url(../img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.delete-task {
    margin-top: 13px;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.selected {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.unvisible {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0 20px 20px;
    left: 18%;
    top: -10px;
    width: 60%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    z-index: 999;
}

.title {
    text-align: center;
}

input {
    width: 99%;
    height: 30px;
    border: none;
    border: 1px solid black;
}

textarea {
    width: 99%;
    min-height: 70px;
    border: none;
    border: 1px solid black;
    resize: none;
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-button {
    display: inline-block;
    padding: 0 20px;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.text-delete {
    width: 60%;
}
